.header{
    width: 100%;
    height: 70px;
}
.header .logo{
    float: left;
    width: 15%;
    padding-left: 15px;
    padding-top: 20px;
}
.header ul{
    float: left;
    padding-top: 30px;
}
.header ul li{
    display: inline;
    padding: 10px;
}
.header ul li a{
    text-decoration: none;
    color: #fff;
}
.header ul li a:hover{
    color:#38ACEC;
}
.login_register{
    padding-left: 850px;
}
.header .login_register #login li{
    padding: 3px;
}
.header .login_register #login a{
    color: white;
    border: 3px solid #ffc6855e;
    background-color: #ffc68579;
    padding: 7px;
}
.header .login_register #login a:hover{
    color: rgba(255, 244, 145, 0.911);
}