body{
    margin: 0px;
    padding: 0px;
    background-color: #2f4f4f;
    overflow:hidden;
}
.login{
    width:50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 15px #000;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../images/loginbg.jpg);
    background-size: contain;
    text-align: center;
    padding: 50px;
    color: #fff;

}

input[type="email"], input[type="password"]{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* border-radius: 40px;
    height: 25px;
    outline: none; */
}

#button {
    background-color: #84a4e7; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #button:hover {
    background-color: #3453db; 
  }